body {
    background-color: lightgray !important;
    overflow-x: hidden;
}

kbd {
    border-radius: 0 !important;
}

img {
    max-height: 400px;
}

.header-title {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 0; */
    justify-content: center;
}

.main-container {
    background-color: white;
    padding: .75rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 6px 6px rgba(253,253,253,0.15);
    -webkit-box-shadow: 0px 0px 6px 6px rgba(253,253,253,0.15);
    -moz-box-shadow: 0px 0px 6px 6px rgba(253,253,253,0.15); */
}

@media screen and (min-width: 768px) {
    .main-container {
        padding: 3rem !important;
    }
}

h1 {
    font-weight: 900 !important;
}

h2 {
    font-weight: 800 !important;
}

h3 {
    font-weight: 700 !important;
}

h4 {
    margin-left: 0.25rem;
    /* font-weight: 600 !important; */
}

h5 {
    margin-left: 0.5rem;
}

.logo-image {
    max-height: 200px;
    display: flex;
    margin: auto;
    margin-bottom: 1rem;
}

/* h3 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
} */

.language-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-5 {
    padding-left: 1.25rem !important;
}

.pl-4 {
    padding-left: 1rem !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mr-0 {
    margin-right: 0 !important;
}

.bg-kbd {
    background-color: #212529;
}

#cyberlenin {
    height: 24px;
    display: flex;
    margin: auto;
}